# Byte-compiled / optimized / C extensions
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.env
../../gemma_local_trainer/ML/.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE / Editor files
../../../gemma_local_trainer/ML/.idea/
.vscode/
*.swp
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log and cache files
*.log
.cache
.pytest_cache/
.tox/

# Ignore generated models
models/